<h2>LAWYERS</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Specialist</th>
                <th>Profile</th>
                <th>Picture Link</th>
                <th>Occupied Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% if(lawyers) {%>
            <% lawyers.forEach(lawyer => { %>
            <tr>
                <th><%= lawyer.id %></th>
                <th><%= lawyer.name %></th>
                <th><%= lawyer.username %></th>
                <th><%= lawyer.password %></th>
                <th><%= lawyer.email %></th>
                <th><%= lawyer.phone %></th>
                <th><%= lawyer.specialist %></th>
                <th><%= lawyer.profile %></th>
                <th><%= lawyer.pic_link %></th>
                <th><%= lawyer.occupied_status %></th>
                <th><a href="/lawyers/update/<%= lawyer.id %>" type="button" class="btn btn-warning">Update</a><a type="button" class="btn btn-warning" href="/lawyers/remove/<%= lawyer.id %>">Remove</a></th>
            </tr>
            <% }) %>

            <%} else {%>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><a href="/lawyers/update/<%= lawyer.id %>" type="button" class="btn btn-warning">Update</a><a type="button" class="btn btn-warning" href="/lawyers/remove/<%= lawyer.id %>">Remove</a></th>
            <%} %>


        </tbody>
    </table>
</div>